<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Nuget official package source" value="https://api.nuget.org/v3/index.json" />
    <!-- 
      <add key="My-Private-Source" value="https://pkgs.dev.azure.com/RonaldRosier/_packaging/Application.Libraries/nuget/v3/index.json" /> 
    -->
  </packageSources>
</configuration>